
<div class="banner">

    <div class="cap">
        <div class="contenido">
            <h1>Farmacia SM</h1>
            <p>Somos una empresa dispuesta a ayudar al pueblo.
               nos gusta ayudar a las personas y brindar la mejor atención,
               estamos ubicados en el centro de Ciudad Neily.
               ven, será un placer atenderte.
            </p>

            <h1>Contactenos</h1>
    
            <p>Tel: {{numero}}</p>
            <p>Correo: {{correo}}</p>
        </div>
    </div>

</div>
