
<div class="banner">

    <div class="cap">
        <div class="contenido">
            <h1>Viruela del mono</h1>
            <p>En los últimos días se está hablando mucho de una enfermedad que no es nueva,
             pero de la que no se había oídohablar tanto,
             especialmente porque era endémica en unos pocos países del continente africano y ahora ha aparecido un brote en varios puntos del planeta.
             Se trata de la viruela del mono.</p>
        </div>
    </div>

</div>
